    <h1 class="register-header" [ngStyle.xs]="{'font-size.px': 15}">Registration Details</h1>
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="registrationForm">
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="RegDetails.FirstName" [formControl]="registrationForm.controls['firstName']" required>
        <mat-error *ngIf="registrationForm.controls['firstName'].invalid">You must enter a name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="RegDetails.LastName" [formControl]="registrationForm.controls['lastName']">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email ID" [(ngModel)]="RegDetails.EmailID" [formControl]="registrationForm.controls['emailId']">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location" [(ngModel)]="RegDetails.Location"  [formControl]="registrationForm.controls['location']" required>
        <mat-error *ngIf="registrationForm.controls['location'].invalid">You must enter a Location</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="tel" matInput placeholder="Mobile No" [(ngModel)]="RegDetails.MobileNum" [formControl]="registrationForm.controls['mobileNumber']" minlength="10"
          maxlength="10" required [disabled]="true">
          <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </form>