.header-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-toolbar{
    background-color: #4e4a4a;
    color: white;
}
.panel-heading {
    font: 42px/21px solid white;
    width:100%;
}
.signout-text{
    color:white;
    font-size: 16px;
}