<div class="container panel panel-primary" style="text-align:center">
    <h1 class="panel-heading">Enter Registration Details</h1>
    <form class='panel-body'>
      <table align="center" width="100%" class="panel">
        <tr>
          <td width="20%">
            <label for="lblFirstName">First Name</label>
          </td>
          <td width="30%">
            <input type="text" class="form-control" id="txtFirstName" name="FirstName">
          </td>
          <td width="20%">
              <label for="lblLastName">Last Name</label>
          </td>
          <td width="30%">
              <input type="text" class="form-control" id="txtLastName" name="LastName">
          </td>
        </tr>
        <br/>
        <tr>
            <td width="20%">
              <label for="lblEmailID">Email ID</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtEmailID" name="EmailID">
            </td>
            <td width="20%">
              <label for="lblPassword">Password</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtPassword" name="Password">
            </td>
          </tr>
          <br/> 
          <tr>
            <td width="20%">
              <label for="lblLocation">Location</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtLocation" name="Location">
            </td>
            <td width="20%">
              <label for="lblMobile">Mobile No.</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtMobile" name="Mobile">
            </td>
          </tr>
          <br/>
          <tr>
            <td colspan="4">
                <button type="submit" class="btn btn-info">Register</button>
                <button type="submit" class="btn btn-info">Clear</button>
            </td>
          </tr>     
      </table>
    </form>
  </div>