<div class="side-form">
  <h1 class="header-font" [ngStyle.xs]="{'font-size.px': 15}">Add New Service </h1>
  <div class="form-container">
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="serviceregForm">
        <mat-form-field>
          <input matInput placeholder="Department Name" [formControl]="serviceregForm.controls['deptName']" required>
          <mat-error *ngIf="serviceregForm.controls['deptName'].invalid">You must enter a name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email ID" [formControl]="serviceregForm.controls['emailId']" required>
          <mat-error *ngIf="serviceregForm.controls['emailId'].invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="tel" matInput placeholder="Mobile No" [formControl]="serviceregForm.controls['mobileNumber']" minlength="10"
            maxlength="10" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="serviceregForm.controls['mobileNumber'].invalid">You must enter a Mobile Number</mat-error>
        </mat-form-field>
    </form>
  </div>
  <div class="mid-content">
    <button mat-raised-button [disabled]="serviceregForm.invalid" (click)="SaveService()" color="primary">Submit</button> 
    <button mat-raised-button (click)="Cancel()" color="primary">Cancel</button> 
  </div>
</div>