<div class="container panel panel-primary" style="text-align:center">
    <h1 class="panel-heading">Enter Registration Details</h1>
    <form #formRef="ngForm" class='panel-body' (ngSubmit)="onSubmit(formRef.value)">
      <table align="center" width="100%" class="panel">
        <tr>
          <td width="20%">
            <label for="lblFirstName">First Name</label>
          </td>
          <td width="30%">
            <input type="text" class="form-control" id="txtFirstName" [(ngModel)]="RegDetails.FirstName" name="FirstName" [disabled]="view">
          </td> 
          <td width="20%">
              <label for="lblLastName">Last Name</label>
          </td>
          <td width="30%">
              <input type="text" class="form-control" id="txtLastName" [(ngModel)]="RegDetails.LastName" name="LastName" [disabled]="view">
          </td>
        </tr>
        <br/>
        <tr>
            <td width="20%">
              <label for="lblEmailID">Email ID</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtEmailID" [(ngModel)]="RegDetails.EmailID" name="EmailID" [disabled]="view">
            </td>
            <td width="20%">
              <label for="lblPassword">Password</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtPassword" [(ngModel)]="Password" name="Password" [disabled]="view">
            </td>
          </tr>
          <br/> 
          <tr>
            <td width="20%">
              <label for="lblLocation">Location</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtLocation" [(ngModel)]="RegDetails.Location" name="Location" [disabled]="view">
            </td>
            <td width="20%">
              <label for="lblMobile">Mobile No.</label>
            </td>
            <td width="30%">
              <input type="text" class="form-control" id="txtMobile" [(ngModel)]="RegDetails.MobileNum" name="Mobile" [disabled]="view">
            </td>
          </tr>
          <br/>
          <tr>
            <td colspan="4">
                <button type="submit" class="btn btn-info" [disabled]="view">Register</button>
                <button type="submit" class="btn btn-info" [disabled]="view">Clear</button>
            </td>
          </tr>     
      </table>
    </form>
  </div>