<div class="side-form">
    <h1 class="header-font" [ngStyle.xs]="{'font-size.px': 15}">Create Security Incident </h1>
    <div class="form-container">
      <form fxLayout="column" fxLayoutGap="10px" [formGroup]="registrationForm">
          <mat-form-field>
            <input matInput [(ngModel)]="registrationDetail.FirstName" placeholder="First Name" [formControl]="registrationForm.controls['firstName']" required>
            <mat-error *ngIf="registrationForm.controls['firstName'].invalid">You must enter a name</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="registrationDetail.LastName"  placeholder="Last Name" [formControl]="registrationForm.controls['lastName']">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="registrationDetail.EmailID"  placeholder="Email ID" [formControl]="registrationForm.controls['emailId']">
          </mat-form-field>
          <mat-form-field>
            <input type="tel" matInput [(ngModel)]="registrationDetail.MobileNum"  placeholder="Mobile No" [formControl]="registrationForm.controls['mobileNumber']" minlength="10"
              maxlength="10" required [disabled]="true">
              <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <textarea [formControl]="registrationForm.controls['issueDescription']" [(ngModel)]="issueDescription" matInput placeholder="Please describe your issue here"></textarea>
          </mat-form-field>
      </form>
    </div>
    <div class="mid-content">
      <button mat-raised-button (click)="SendSoS()" color="primary">Submit</button> 
      <button mat-raised-button (click)="Cancel()" color="primary">Cancel</button> 
    </div>
</div>