<div fxLayout="row" fxLayout.gt-sm="column" class="main-bounds content">
  <div fxHide fxHide.md="false" class="emergency-background">
  </div>
  <div>
    <form class='panel-body'>
      <div class="form-group">
      <button type="submit" mat-raised-button color="primary" routerLink="../authenticate/user" class="btn btn-info">User Login</button>
      <button type="submit" mat-raised-button color="primary" routerLink="../authenticate/admin" class="btn btn-info">Login As Admin</button>
      <p>New User?<a routerLink="../authenticate/register" class="btn btn-xs btn-primary">Register Here</a></p>
      </div>
    </form>
  </div>
</div>