<div class="side-form">
<h1 class="send-message-header" [ngStyle.xs]="{'font-size.px': 15}">Send Message to All User's</h1>
<div class="form-container">
<form fxLayout="column" fxLayoutGap="10px" [formGroup]="sendMsgForm">
<mat-form-field class="mid-content">
  <input matInput placeholder="Subject" [formControl]="sendMsgForm.controls['subject']" required>
  <mat-error *ngIf="sendMsgForm.controls['subject'].invalid">You must enter a subject</mat-error>
</mat-form-field>
<mat-form-field class="mid-content">
    <textarea matInput placeholder="Write your message here." matTextareaAutosize matAutosizeMinRows="2"
    [formControl]="sendMsgForm.controls['message']" required matAutosizeMaxRows="20"></textarea>
    <mat-error *ngIf="sendMsgForm.controls['message'].invalid">You must enter a message</mat-error>
  </mat-form-field>
</form>
</div>
  <div class="mid-content">
    <button mat-raised-button [disabled]="sendMsgForm.invalid" (click)="SendMessage()" color="primary">Submit</button> 
    <button mat-raised-button (click)="Cancel()" color="primary">Cancel</button> 
  </div>
</div>