<h1 class="send-message-header" [ngStyle.xs]="{'font-size.px': 15}">Send Message to All User's</h1>
<mat-form-field class="mid-content">
    <textarea matInput placeholder="Write your message here." matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <div class="mid-content">
    <button mat-raised-button (click)="SendMessage()" color="primary">Submit</button> 
    <button mat-raised-button (click)="Cancel()" color="primary">Cancel</button> 
  </div>