<div class="main-bounds content">
  <div class="center-div">
    <h1 class="home-font white-font-color" [ngStyle.xs]="{'font-size.px': 25}">Emergency &amp; Security Incident Management</h1>
      <div class="form-group">
      <button mat-raised-button color="warn" routerLink="../authenticate/user" class="btn btn-info">User Login</button>
      <button mat-raised-button color="warn" routerLink="../authenticate/admin" class="btn btn-info">Admin Login</button>
      <p class="para-font-style white-font-color">New User ? Register <a routerLink="../authenticate/register" class="white-font-color">here</a></p>
      </div>
  </div>
</div>