<div>
  <mat-sidenav-container class="sidenav-container" [ngClass.sm]="{'sidenav-container-medium':true}"
  [ngClass.xs]="{'sidenav-container-small':true}">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="isMenuOpen" role="navigation" class="sidenav-content">
      <mat-nav-list *ngFor="let navigationItem of navigationList">
          <a routerLink={{navigationItem.Path}} >{{navigationItem.Display}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="side-content-bounds">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>